body{font-family:'Libre Franklin';}
// Navneet style

.MuiBox-root-7{padding-left:123px !important;padding-right:123px !important;}
.MuiTypography-h4.heading_main{margin-bottom:70px;margin-top:77px;}
.form-group{margin-bottom:22px}
.form-group .MuiOutlinedInput-root{border-radius: 10px!important;margin-bottom:22px}
.MuiOutlinedInput-input,.form-control{padding:16px 18px !important;font-family:'Libre Franklin';font-size:18px !important;color:#9a9a9a !important ;}
.MuiOutlinedInput-input::placeholder{font-family:'Libre Franklin';font-size:18px;color:#9a9a9a ;}
textarea.form-control{border-radius: 10px!important;margin-bottom:22px;width: -webkit-fill-available;margin-bottom:22px ;border-width:2px !important;border-color: #c7c7c7 !important;}

.MuiTypography-body2, .MuiTypography-h4, .MuiInputBase-input{font-family:'Libre Franklin' !important;}
.MuiStepper-vertical{
    orientation:vertical !important
}
.MuiBox-root-18{width:100%;color:  #707070;}
.last_name_additional{ margin-top: 14px; border-width:2px; border-style:dashed; border-radius: 4px; border-color: #c7c7c7;
    background-color: #f7f7f7;    padding-top: 34px;
    height: 100px;
    color: darkgrey;
    text-align: center;
}

.MuiStepper-root {
    display: inherit !important;
    padding: 0px!important;
}
.MuiStepLabel-root.MuiStepLabel-alternativeLabel {
    flex-direction: inherit!important;
}
.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    margin-top: 1px!important;
    text-align: left !important;
    padding-left:10px !important ;
}
.MuiStepLabel-horizontal{
    padding:15px 0 15px 90px !important;
    margin: 95px 0 0px 0;
}
.MuiStepLabel-horizontal:hover{
  background-color: rgba(24, 118, 210, 0.17);
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: 0.96px;
  text-align: left;
  color: #1c1c1c;
}
.MuiStepConnector-line {
    display: block;
  border:none !important;
}

.sm_bg_clr{
    background-color:#f2f2f2;
    // height:100vh;
}
.MuiStepIcon-root {
    color: #ffffff;
    display: block;
}
.MuiPaper-root{
    background-color:#f2f2f2 !important;
} 
.main_big_box-cls{
    position: relative;
    width: calc(100% - 33%);
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.flx_class{
    display:flex;
    justify-content: space-between !important;
    // margin: 0 123px;
}
.MuiFormControl-marginNormal{margin: 0!important;}
.hh{
    width: 184px;
    height: 48px;
    margin: 0px 0px 32px 0px!important;
    padding: 13.5px 71px!important;
    border-radius: 10px!important;
    background-image: linear-gradient(to bottom, #2699fb, #134d7e);
}

.cloud_icon_item{
    width: 48.2px!important;
    height: 32.1px!important;  
}
// .back_btnn{
//     color:black !important
// }
.MuiStepIcon-active .MuiStepIcon-text {fill:#ffffff !important;}
.MuiStepIcon-text {
    fill: #707070 !important;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.MuiStep-horizontal{padding: 0px!important;}
.MuiStepIcon-root{color: #ffffff!important;}
.MuiSvgIcon-root {
    fill: yellow ;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.MuiStepIcon-root.MuiStepIcon-active {
    color: #1876d2!important;
}
// .MuiStepIcon-text .MuiStepIcon-active {
//     fill:red!important;
// }
.first_name{width: 50%;}
.MuiInputBase-input{
    border-radius: 4px!important;
   border-width: 2px!important;
   border-color:#c7c7c7!important;
}

.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
}


.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
}

.MuiBox-root-16{display: inline-flex;width: 100%;}
// .MuiBox-root-22{display: inline-flex;width: 100%;}
 @media(max-width:1319px){
    .MuiBox-root-7{padding-left:80px !important;padding-right:80px !important;}
    .MuiStepLabel-horizontal {padding: 15px 5px 15px 40px !important;}
    .MuiStepLabel-label.MuiStepLabel-alternativeLabel {
        font-size:16px !important;}
    .MuiGrid-container {
            width: 100%;
            display: revert!important;
            flex-wrap: wrap;
            box-sizing: border-box;
        }
 }
 @media(min-width:1920px){
     .form-control{width:  1198px!important;}
     .MuiBox-root-5 {
        width: 476px;
    }
}
 .Main_container{display: flex;}
 .MuiBox-root-5 {
    width: 33%;
}
.MuiBox-root-9{padding: 0px!important;}

.MuiBox-root-20 {
    margin-bottom: 22px;
}