.ChooseSignInSignUp {
  width: 23.229%;
  height: 39.16%;
  //   background-color: white;
}
.ImagePlaceHolder {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 9px 5px 13px 0 rgba(0, 0, 0, 0.31);
  display: inline-block;
  background-color: #fff;
  margin-bottom: 10px;
}
.loginButton:hover {
  opacity: 0.9;
}
