.chooseProfileTypeSignUp {
    float: right;
    width: 147px;
    height: 43px;
    font-family: Libre Franklin;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2.84px;
    text-align: left;
    color: #ffffff;
    padding-top: 128px;
    padding-right: 142px;
}

.chooseProfileTypeSignIn{
    float: right;
    height: 43px;
    font-family: Libre Franklin;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2.84px;
    text-align: left;
    color: #ffffff;
    padding-top: 128px;
    padding-right: 132px;
}
