@import "../../../utils/StylesUtils/variables.scss";
.employeeRegisterBackground {
  display: inline-block;
  background-color: $themeSecondaryBackgroundColor;
  height: 1080px;
  width: 48.33%;
  color: white;
}
