.spc_exp_both_side{
    padding-left:123px;
    padding-right:123px;
    padding-top:78px;
}

.skill_hdng{
    font-family: LibreFranklin;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.81;
    letter-spacing: normal;
    text-align: left;
    color: #070707;
}